@@ -36,9 +36,8 @@ def loadLst(fileName, lstName):
    print 'Examples: python2 Wpbf.py -h http://xnxx.com/wp-login.php -u admin -P password.txt'
    sys.exit()

print 'Wp Brute Force By Mr.Z'
print 'Website: http://zildan.cf'
print 'youtube: info cyber hacker'
print 'Wp Brute Force By Mr.W3W3N'
print 'youtube: wawancyber'

#
#define variables
Propose changes
Commit summary 
Update wpbf.py
Optional extended description
Add an optional extended description…
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
